/* Timer controls */
.control-group {
  @include clear;
  margin: 0 -0.5rem;
}

.control-wrapper {
  padding: 1rem .5rem;
}

.half-width {
  width: 50%;
  float: left;
}

.input-wrapper {
  padding: .5rem 0;
}

/* Tables */
table {
  @include card;
  @include stretch;

  td, th {
    @include container;
    @include border-thin;
    text-align: center;
  }

  .column-narrow {
    width: 4rem;
  }

  td.control-holder {
    padding: 0;
  }
}

/* Navigation */
.navigation {
  @include menu;
  @include column;
  a {
    @include container;
  }
  .logo {
    @include logo;
  }
}

/* Timer */
.timer-time {
  @include container;
  @include hero-text;
  @include hero-growing;
  display: block;
}

.timer-input-group {
  font-size: 0; // eliminate spaces between elements
  @include hero-text;
  input, .timer-divider {
    @include hero-growing;
  }
}

.timer {
  @include panel-flat;
  input {
    @include hero-input;
    @include text-like-input;
    width: 1.15em;
    max-height: 8rem;
  }

  input, .timer-divider {
    @include hero-text;
  }
}

/* Other stuff */

.text-info {
  text-align: center;
  @media (min-width: 25rem) {
    font-size: 1.5rem;
  }
}

.control {
  @include control;
  @include stretch;
}

.control-primary {
  @include control-primary;
  @include stretch;
}

.control-secondary {
  @include control-secondary;
}

.content {
  @include container;
}

.timer-controls {
  @include row;
  @include column;
}

.header {
  @include row;
}

.footer {
  @include container;
}

.copyright {
  @include row;
  @include column;
}

.content-group {
  @include row;
  @include column;
}

.panel-text {
  @include card;
  @include container;
  @include elevated;
}

.lap-info {
  @include scroll-container;
  @include elevated;
  border-radius: $border-radius;
}

.input-submit {
  @include control;
}