/*==============================================================================
DEBUG.CSS
Styles for layout debugging and visualising purposes.
Created by David Dostal: http://daviddostal.cz
================================================================================*/

[debug] * {
  outline: 1px dashed rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.01);
}

[debug-baseline], [debug-baseline-half], [debug-baseline-double] {
  position: relative;
}

[debug-baseline]::before,
[debug-baseline-half]::before,
[debug-baseline-double]::before {
  content: '';
  position: absolute;
  top: 9px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  pointer-events: none;
}

[debug-baseline]::before {
  background-image: url(http://basehold.it/i/18/100/60/120);
}

[debug-baseline-half]::before {
  background-image: url(http://basehold.it/i/9/100/60/120);
}

[debug-baseline-double]::before {
  background-image: url(http://basehold.it/i/36/100/60/120);
}
