$row-max-width: 50rem;
$row-padding-tight: 0.5rem;
$container-padding-tight: 0.5rem;
$row-padding-full: 0.5rem 1rem;
$container-padding-full: 1rem;

$container-padding-full-half: 0.5rem;
$container-padding-tight-half: 0.25rem;

@mixin clear() {
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin container {
  margin: 0;
  padding: $container-padding-tight;

  @media (min-width: 20rem) {
    padding: $container-padding-full;
  }
}

@mixin row {
  padding: $row-padding-tight;

  @media (min-width: 20rem) {
    padding: $row-padding-full;
  }
}

@mixin column {
  max-width: $row-max-width;
  margin: auto;
}

.menu {
  float: left;
}

.logo {
  float: left;
}

.navigation {
  @include clear;
}

body {
  min-height: 100vh;
  position: relative;
}

body::after {
  content: '';
  display: block;
  height: 5rem;
}

.footer {
  @include stick-bottom;
}
