$text-primary: #fff;
$text-secondary: #ddd;
$text-inverse: #000;
$text-inverse-secondary: #222;

$primary: #3CD17E;
$primary-dark: #36BD72;
$information: #fff;

$input-hover: #2eac6c;
$control-hover: #f6f6f6;
$control-shadow: rgba(100, 100, 100, 0.2);

$border-radius: 4px;

body {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  line-height: 1.5em;
  color: $text-primary;
}

h1 {
  font-size: 2rem;
  text-shadow: 2px 2px 2px $control-shadow;;
}

.page {
  background-color: $primary;
}

.header {
  background-color: $primary-dark;
  color: $text-primary;
}

.content {
  background-color: $primary;

}

.footer {
  background-color: $primary-dark;
  color: $text-primary
}

.panel-primary {
  background-color: $primary-dark;
  color: $text-primary
}

.panel-secondary {
  background-color: inherit;
  color: $text-primary
}

.panel-information {
  background-color: $information;
  color: $text-inverse;
}